**/xcuserdata/

/node_modules
/dist
.DS_Store
/build/bin/UX-Music.app
/build/bin/UX-Music.app/Contents/MacOS
build/bin/UX-Music.app/Contents/MacOS/UX-Music
build/bin/UX-Music.app/Contents/MacOS/UX-Music
/src/sidecars/mtp/node_modules
/src/sidecars/mtp/node_modules
/src/sidecars/mtp/node_modules
/src/sidecars/mtp/node_modules
